.playericon {
	margin-left: 2px;
	margin-right: 2px;
	display: inline-flex;
}

.logsarea {
	display: flex;
	width: 100%;
}

.logslist {
	border: 1px solid black;
	resize: none;
	min-height: 200px;
	width: inherit;
}