#game-board {
    height: 100%;
}

.info-panel-status {
    font-weight: bold;
}

textarea.logs-list {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
    resize: none;
}

.logs-list li {
    font-size: small;
}

.player-bar {
    padding: 1px;
    margin: 1px;
    border: 1px solid black;
}

.player-bar.current-player {
    background-color: yellow;
}

.player-icon {
    margin-left: 2px;
    margin-right: 5px;
}

div.game-area {
}

.reversi-board {
    margin: 5px;
    padding:0;
    height: 320px;
    width: 320px;
}
.reversi-board table{
    border: 5px solid saddlebrown;
    background-color: black;
    margin: 0;
    padding: 0;
}

td.game-board-tile {
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    background-image: url("/images/board-tile.svg");
}

img.disc {
    height: 25px;
    width: 25px;
    margin: 0 auto;
    display: block;
}